.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}

.child {
    position: relative;
    padding: rem(10px);
    border-radius: var(--mantine-radius-default);
    border: 1px var(--mantine-color-dark-6) solid;
}

.rowSelected {
    background-color: var(--mantine-color-blue-light);
}

.paginator {
    align-self: center;
    margin: rem(10px) 0 rem(10px) 0;
}

.filterContainer{
    border-radius: var(--mantine-radius-default);
    border: rem(1px) solid var(--mantine-color-gray-7);
    margin: var(--mantine-spacing-sm) 0;
    padding: var(--mantine-spacing-sm);
    background-color: var(--mantine-color-dark-6);

}

.groupLabel{
    text-transform: capitalize;
}

.badgeLabel{
    text-transform: capitalize;
}

.badgeRoot{
    margin: 0 rem(2px);
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
}

.badgeRoot:hover{
    background-color: var(--mantine-color-blue-filled-hover);
}