.pageContainer{
    width: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.stepperContainer{
    border: rem(1px) solid var(--mantine-color-gray-7);
    margin-top: var(--mantine-spacing-md);
    background-color: var(--mantine-color-dark-6);
    padding: var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-sm);
}
